<h2>Registration Form</h2>
Name <br /><input type="text" #name /> <br />
College <br />
<input type="text" #college /> <br />

Branch <br /><input type="text" #branch /> <br />
<br />
<button (click)="submitDetails(name.value,college.value,branch.value)">
  Submit
</button>

<!--
  if else 
<ng-template [ngif]="show =='red'">
  <h1>show red</h1>
</ng-template>
-->
<!--
  <button (click)="min()">Check Result</button>
  <h1 *ngIf="min else elseblock">if block</h1>
  <ng-template #elseblock>
    <h1>else block</h1>
  </ng-template>
</body>
-->

<!-- switch case  like 12 conditions --jan feb or color based data show-->

<div [ngSwitch]="color">
  <h2 style="color:red" *ngSwitchCase="'red'">
    red color
  </h2>
  <h2 style="color:yellow" *ngSwitchCase="'yellow'">
    yellow color
  </h2>
</div>

<!--for loop-->

<h4 *ngFor="let item of data">
  {{item}}
</h4>

<h4 *ngFor="let item1 of data2">
  {{item1.name}} {{item1.age}}
</h4>

<!-- we can use table  --->

<table border="1">
  <tr>
    <td>
      Name
    </td>
    <td>
      Age
    </td>
    <td>
      Email
    </td>
  </tr>
  <tr *ngFor="let item of data2">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
    <td>{{item.emails}}</td>
  </tr>
</table>
